---
http_interactions:
- request:
    method: post
    uri: https://api.artsy.net/api/tokens/xapp_token
    body:
      encoding: UTF-8
      string: client_id=c7c4a1f99f262a3ae9f8&client_secret=a35ded27404562fbfa5e39edfd6280ab
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"34d6a105e734ae222145d08e8830851c"
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"type":"xapp_token","token":"JvTPWe4WsQO-xqX6Bts49j_Z9ef1JaH9MfEO8kowxBmbXhlV9qzDbtgCiBJklBDzWFVQxVQBbqBmmJU4vnov_fsmuJXLC3ndOOWx_be0oH2lTT11C3nuEJ5JOx1Xf-FEEUHYRnfEQoIpC1rSFR2IJAU3UJFLoH90dxwiGosuVSrgG3zymVUB6j9hkYFBTgkmuY1uYB6-yhjOg2Vg_MF-prXpbUatGLr1mGC5K79waPc=","expires_at":"2016-02-26T16:29:53+00:00","_links":{}}'
  recorded_at: Fri, 19 Feb 2016 17:41:47 GMT
- request:
    method: get
    uri: https://api.artsy.net/api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
      X-Xapp-Token:
      - JvTPWe4WsQO-xqX6Bts49j_Z9ef1JaH9MfEO8kowxBmbXhlV9qzDbtgCiBJklBDzWFVQxVQBbqBmmJU4vnov_fsmuJXLC3ndOOWx_be0oH2lTT11C3nuEJ5JOx1Xf-FEEUHYRnfEQoIpC1rSFR2IJAU3UJFLoH90dxwiGosuVSrgG3zymVUB6j9hkYFBTgkmuY1uYB6-yhjOg2Vg_MF-prXpbUatGLr1mGC5K79waPc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"50a26eb8b6354159a5eba7da1922da91"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"self":{"href":"https://api.artsy.net/api/"},"docs":{"href":"https://api.artsy.net/api/docs"},"status":{"href":"https://api.artsy.net/api/status"},"search":{"href":"https://api.artsy.net/api/search{?q}","templated":true},"current_user":{"href":"https://api.artsy.net/api/current_user"},"artists":{"href":"https://api.artsy.net/api/artists{?artwork_id,similar_to_artist_id,similarity_type,published_artworks,artworks,total_count,size,cursor,offset,sample}","templated":true},"artist":{"href":"https://api.artsy.net/api/artists/{id}","templated":true},"users":{"href":"https://api.artsy.net/api/users{?total_count,size,cursor,offset,sample}","templated":true},"user":{"href":"https://api.artsy.net/api/users/{id}","templated":true},"profiles":{"href":"https://api.artsy.net/api/profiles{?total_count,size,cursor,offset,sample}","templated":true},"profile":{"href":"https://api.artsy.net/api/profiles/{id}","templated":true},"collections":{"href":"https://api.artsy.net/api/collections{?user_id,private,total_count,size,cursor,offset,sample}","templated":true},"collection":{"href":"https://api.artsy.net/api/collections/{id}","templated":true},"collection_items":{"href":"https://api.artsy.net/api/collection_items{?user_id,collection_id,total_count,size,cursor,offset,sample}","templated":true},"collection_item":{"href":"https://api.artsy.net/api/collection_items/{id}","templated":true},"applications":{"href":"https://api.artsy.net/api/applications{?total_count,size,cursor,offset,sample}","templated":true},"application":{"href":"https://api.artsy.net/api/applications/{id}","templated":true},"genes":{"href":"https://api.artsy.net/api/genes{?artist_id,artwork_id,total_count,size,cursor,offset,sample}","templated":true},"gene":{"href":"https://api.artsy.net/api/genes/{id}","templated":true},"partners":{"href":"https://api.artsy.net/api/partners{?user_id,partner_id,total_count,size,cursor,offset,sample}","templated":true},"partner":{"href":"https://api.artsy.net/api/partners/{id}","templated":true},"shows":{"href":"https://api.artsy.net/api/shows{?partner_id,status,fair_id,total_count,size,cursor,offset,sample}","templated":true},"show":{"href":"https://api.artsy.net/api/shows/{id}","templated":true},"artworks":{"href":"https://api.artsy.net/api/artworks{?artist_id,partner_id,show_id,similar_to_artwork_id,published,total_count,size,cursor,offset,sample}","templated":true},"artwork":{"href":"https://api.artsy.net/api/artworks/{id}","templated":true},"fairs":{"href":"https://api.artsy.net/api/fairs{?status,total_count,size,cursor,offset,sample}","templated":true},"fair":{"href":"https://api.artsy.net/api/fairs/{id}","templated":true},"image":{"href":"https://api.artsy.net/api/images/{id}","templated":true},"edition":{"href":"https://api.artsy.net/api/editions/{id}{?artwork_id}","templated":true},"tokens":{"href":"https://api.artsy.net/api/tokens"}}}'
  recorded_at: Fri, 19 Feb 2016 17:41:47 GMT
- request:
    method: get
    uri: https://api.artsy.net/api/artists/vin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
      X-Xapp-Token:
      - JvTPWe4WsQO-xqX6Bts49j_Z9ef1JaH9MfEO8kowxBmbXhlV9qzDbtgCiBJklBDzWFVQxVQBbqBmmJU4vnov_fsmuJXLC3ndOOWx_be0oH2lTT11C3nuEJ5JOx1Xf-FEEUHYRnfEQoIpC1rSFR2IJAU3UJFLoH90dxwiGosuVSrgG3zymVUB6j9hkYFBTgkmuY1uYB6-yhjOg2Vg_MF-prXpbUatGLr1mGC5K79waPc=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"type":"other_error","message":"Artist Not Found"}'
  recorded_at: Fri, 19 Feb 2016 17:41:47 GMT
recorded_with: VCR 3.0.1
