---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self?access_token=2957207955.9ffba2c.d135e9af114f4309943198e3e78c130e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '499'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": {"username": "miss.capybara", "bio":
        "I like testing APIs.", "website": "http://turing.io", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12729402_1536518483344558_1403306257_a.jpg",
        "full_name": "Miss Capybara", "counts": {"media": 3, "followed_by": 6, "follows":
        6}, "id": "2957207955"}}'
  recorded_at: Thu, 18 Feb 2016 21:59:23 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent?access_token=2957207955.9ffba2c.d135e9af114f4309943198e3e78c130e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '498'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {}, "meta": {"code": 200}, "data": [{"attribution":
        null, "tags": [], "type": "image", "location": null, "comments": {"count":
        1}, "filter": "Moon", "created_time": "1455819329", "link": "https://www.instagram.com/p/BB7_PyArjM2/",
        "likes": {"count": 3}, "images": {"low_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/e35/12748315_1698329883713257_1370988345_n.jpg?ig_cache_key=MTE4NzgyMTA4ODE2MzExNTgzMA%3D%3D.2",
        "width": 320, "height": 320}, "thumbnail": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/12748315_1698329883713257_1370988345_n.jpg?ig_cache_key=MTE4NzgyMTA4ODE2MzExNTgzMA%3D%3D.2",
        "width": 150, "height": 150}, "standard_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/e35/12748315_1698329883713257_1370988345_n.jpg?ig_cache_key=MTE4NzgyMTA4ODE2MzExNTgzMA%3D%3D.2",
        "width": 320, "height": 320}}, "users_in_photo": [], "caption": {"created_time":
        "1455819329", "text": "An old family photo!", "from": {"username": "miss.capybara",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12729402_1536518483344558_1403306257_a.jpg",
        "id": "2957207955", "full_name": "Miss Capybara"}, "id": "1187821096123904414"},
        "user_has_liked": false, "id": "1187821088163115830_2957207955", "user": {"username":
        "miss.capybara", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12729402_1536518483344558_1403306257_a.jpg",
        "id": "2957207955", "full_name": "Miss Capybara"}}, {"attribution": null,
        "tags": [], "type": "image", "location": null, "comments": {"count": 4}, "filter":
        "Amaro", "created_time": "1455819291", "link": "https://www.instagram.com/p/BB7_LIjrjMr/",
        "likes": {"count": 3}, "images": {"low_resolution": {"url": "[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self?access_token=2957207955.9ffba2c.d135e9af114f4309943198e3e78c130e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '497'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": {"username": "miss.capybara", "bio":
        "I like testing APIs.", "website": "http://turing.io", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12729402_1536518483344558_1403306257_a.jpg",
        "full_name": "Miss Capybara", "counts": {"media": 3, "followed_by": 6, "follows":
        6}, "id": "2957207955"}}'
  recorded_at: Thu, 18 Feb 2016 21:59:24 GMT
recorded_with: VCR 3.0.1
