---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1187820768775254827_2957207955?access_token=2957207955.9ffba2c.d135e9af114f4309943198e3e78c130e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '490'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": {"attribution": null, "tags": ["capybara"],
        "type": "image", "location": null, "comments": {"count": 5}, "filter": "Amaro",
        "created_time": "1455819291", "link": "https://www.instagram.com/p/BB7_LIjrjMr/",
        "likes": {"count": 3}, "images": {"low_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/e35/12751306_1741310959435685_185600896_n.jpg?ig_cache_key=MTE4NzgyMDc2ODc3NTI1NDgyNw%3D%3D.2",
        "width": 320, "height": 320}, "thumbnail": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/12751306_1741310959435685_185600896_n.jpg?ig_cache_key=MTE4NzgyMDc2ODc3NTI1NDgyNw%3D%3D.2",
        "width": 150, "height": 150}, "standard_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/e35/12751306_1741310959435685_185600896_n.jpg?ig_cache_key=MTE4NzgyMDc2ODc3NTI1NDgyNw%3D%3D.2",
        "width": 320, "height": 320}}, "users_in_photo": [], "caption": {"created_time":
        "1455819291", "text": "I love swimming so much!", "from": {"username": "miss.capybara",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12729402_1536518483344558_1403306257_a.jpg",
        "id": "2957207955", "full_name": "Miss Capybara"}, "id": "1187820771015012737"},
        "user_has_liked": false, "id": "1187820768775254827_2957207955", "user": {"username":
        "miss.capybara", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12729402_1536518483344558_1403306257_a.jpg",
        "id": "2957207955", "full_name": "Miss Capybara"}}}'
  recorded_at: Fri, 19 Feb 2016 17:41:39 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1187820768775254827_2957207955/comments?access_token=2957207955.9ffba2c.d135e9af114f4309943198e3e78c130e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '489'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
 [...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1187820768775254827_2957207955/likes?access_token=2957207955.9ffba2c.d135e9af114f4309943198e3e78c130e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '488'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": [{"username": "artofmoxie", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/10706750_852405121512571_1455045308_a.jpg",
        "id": "16502037", "full_name": "Beth"}, {"username": "edgarduran303", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/11375236_1453807714913882_969507463_a.jpg",
        "id": "2126510311", "full_name": "Edgar Duran"}]}'
  recorded_at: Fri, 19 Feb 2016 17:41:39 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1187820768775254827_2957207955/likes?access_token=2957207955.9ffba2c.d135e9af114f4309943198e3e78c130e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '485'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": [{"username": "artofmoxie", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/10706750_852405121512571_1455045308_a.jpg",
        "id": "16502037", "full_name": "Beth"}, {"username": "edgarduran303", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/11375236_1453807714913882_969507463_a.jpg",
        "id": "2126510311", "full_name": "Edgar Duran"}]}'
  recorded_at: Fri, 19 Feb 2016 17:41:40 GMT
recorded_with: VCR 3.0.1
