---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/follows?access_token=2957207955.9ffba2c.d135e9af114f4309943198e3e78c130e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '484'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {}, "meta": {"code": 200}, "data": [{"username": "justinpease1",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12748419_1752098388353622_1993632129_a.jpg",
        "id": "224650346", "full_name": "Justin Pease"}, {"username": "diagonalizable",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/11296729_1705944102967117_1294209058_a.jpg",
        "id": "25151534", "full_name": "Shannon P"}, {"username": "edgarduran303",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/11375236_1453807714913882_969507463_a.jpg",
        "id": "2126510311", "full_name": "Edgar Duran"}, {"username": "penneylicious",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12224164_1509200229374661_1127130738_a.jpg",
        "id": "269242292", "full_name": "Penney Gadget"}, {"username": "artofmoxie",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/10706750_852405121512571_1455045308_a.jpg",
        "id": "16502037", "full_name": "Beth"}]}'
  recorded_at: Fri, 19 Feb 2016 17:41:41 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/224650346/media/recent?access_token=2957207955.9ffba2c.d135e9af114f4309943198e3e78c130e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '483'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {}, "meta": {"code": 200}, "data": [{"attribution":
        null, "tags": [], "type": "image", "location": null, "comments": {"count":
        6}, "filter": "Normal", "created_time": "1455732945", "link": "https://www.instagram.com/p/BB5ae2xhW8s/",
        "likes": {"count": 4}, "images": {"low_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s320x320/e15/10299831_224883447855873_746858986_n.jpg?ig_cache_key=MTE4NzA5NjQ0NjM5NTMxMzk2NA%3D%3D.2",
        "width": 320, "height": 320}, "thumbnail": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e15/10299831_224883447855873_746858986_n.jpg?ig_cache_key=MTE4NzA5NjQ0NjM5NTMxMzk2NA%3D%3D.2",
        "width": 150, "height": 150}, "standard_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/e15/10299831_224883447855873_746858986_n.jpg?ig_cache_key=MTE4NzA5NjQ0NjM5NTMxMzk2NA%3D%3D.2",
        "width": 612, "height": 612}}, "users_in_photo": [], "caption": {"created_time":
        "1455732945", "text": "Sometimes not so much!", "from": {"username": "justinpease1",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12748419_1752098388353622_1993632129_a.jpg",
        "id": "224650346", "full_name": "Justin Pease"}, "id": "1187096449264218100"},
        "user_has_liked": false, "id": "1187096446395313964_224650346", "user": {"username":
        "justinpease1", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12748419_1752098388353622_1993632129_a.jpg",
        "id": "224650346", "full_name": "Justin Pease"}}, {"attribution": null, "tags":
        [], "type": "image", "location": null, "comments": {"count": 1}, "filter":
        "Normal", "created_time": "1455732903", "link": "https://www.instagram.com/p/BB5aZrDhW8e/",
        "likes": {"count": 3}, "images": {"low_resolution": {"url": "ht[...]
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/269242292/media/recent?access_token=2957207955.9ffba2c.d135e9af114f4309943198e3e78c130e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '480'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {}, "meta": {"code": 200}, "data": [{"attribution":
        null, "tags": [], "type": "image", "location": {"latitude": 39.753785964,
        "name": "Clear Creek Canyon", "longitude": -105.239999258, "id": 4911355},
        "comments": {"count": 3}, "filter": "Clarendon", "created_time": "1455745494",
        "link": "https://www.instagram.com/p/BB5yaqQo9fH/", "likes": {"count": 9},
        "images": {"low_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/12677646_1039553569419064_1246118943_n.jpg?ig_cache_key=MTE4NzIwMTcxMTE5NzExNjM1OQ%3D%3D.2",
        "width": 320, "height": 320}, "thumbnail": {"url": "https://scontent.cdninstagram.com/t51.2[...]
[...]
