<nav>
   <div class="nav-wrapper indigo darken-4">
     <a href="#" class="brand-logo">Artful Dodger</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/search/new"><i class="material-icons left">search</i>Search</a></li>
       <li><a href="/profile"><%= current_user.nickname %></a></li>
       <li><%= link_to "Logout", logout_path, method: :delete %></li>
    </ul>
  </div>
</nav>
