<div class="homepage">
  <div class="container">
    <div class="home-container">
      <div class="col s2"></div>
      <div class="col s8 center">
        <h1 class="home">Artful Dodger</h1>
        <div class="login-button">

          <%= link_to "Login with Instagram", "/auth/instagram", class: "btn indigo darken-4" %>
        </div>
      </div>
      <div class="col s2"></div>
    </div>
  </div>
</div>
