/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub home
 */

.brand-logo {
  font-family: 'Lobster Two', cursive;
  padding-left: 10px !important;
}

p, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
}

/* PHOTO SHOW PAGE */

.photo {
  max-width: 560px;
  min-width: 560px;
  display:inline-block;
}

.comments {
  display:inline-block;
  vertical-align: top;
  padding-left: 5px;
  max-width: 360px;
}

.post {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  padding-top: 20px;
}

.likes {
  font-weight: bold;
}

.username {
  font-weight: bold;
  color: #7b1fa2;
}

/* PROFILE */

.profile {
  padding-left: 180px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.profile-photo {
  display:inline-block;
  width: 200px;
  padding-top: 10px;
}

.profile-info {
  display:inline-block;
  vertical-align: top;
  padding-left: 30px;
  max-width: 400px;
}

/* HOMEPAGE */

h1.home {
  font-family: 'Lobster Two', cursive;
  color: white;
  font-size: 10em;
}

.home-container {
  padding-top: 200px;
}

.login-button {
  padding-top: 10px;
}

/* FEED */

.feed-card {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* SEARCH */

.search {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-left: 250px;
}

.instagram-search {
  padding-bottom: 40px;
}

.search-form {
  width: 60%;
}
